@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.header-section {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
    position: fixed;
    /* background-color:  rgba(227, 227, 223, 1); */
    /* background-color: rgba(0, 80, 69, 100%); */
    background-color: #103a2d;
    z-index: 999;
}

.header-section img{
    margin-top: 1px;
}

.header-content {
    width: 500px;
    margin-top: 29px;
}

.list {
    display: flex;
    justify-content: space-between;
}

.list li {
    list-style: none;
}

.list li a {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: #c6c3b7;
    /* color: rgb(255, 255, 255, 100%); */
    margin-top: 10px;
}

.list li a:hover {
    color: black;
}

.list li a::after {
    content: "";
    height: 3px;
    background-color: black;
    display: block;
    border-radius: 4px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.list li a:hover::after {
    transform: scaleX(1);
}