/* HerbDetail.css */
.herb-detail-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}
  
.herb-detail-container h1 {
    text-align: center;
    color: #2e7d32;
    margin-top: 100px;
    margin-bottom: 10px;
}
  
.herb-image {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 10px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
h3 {
    color: #388e3c;
    border-bottom: 2px solid #388e3c;
    padding-bottom: 5px;
    margin-top: 20px;
}
  
p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}
  
ul {
    list-style-type: disc;
    padding-left: 20px;
}
  
ul li {
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}
  
strong {
    color: #2e7d32;
}
  
/* Responsive Design */
/* @media (max-width: 768px) {
    .herb-detail-container {
      padding: 15px;
    }
  
    h1 {
      font-size: 22px;
    }
  
    h3 {
      font-size: 18px;
    }
  
    p, ul li {
      font-size: 14px;
    }
} */
  